# Private key wallet kamu (TANPA 0x prefix)
PRIVATE_KEY=your_private_key_here

# OPN Chain Testnet RPC
OPN_RPC=https://testnet-rpc.iopn.tech
OPN_CHAIN_ID=984

# Explorer
OPN_EXPLORER=https://testnet.iopn.tech
